<!-- start: page -->
<div class="row">
  <div class="col-lg-12">
    <section class="card">
      <header class="card-header">
        <div class="card-actions">
          <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
<!--          <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>-->
        </div>

        <h2 class="card-title"><%= @sub_module_name.capitalize %></h2>
      </header>
      <div class="card-body">

        <!-- Modal Bootstrap -->
        <a class="mb-1 mt-1 me-1 btn btn-success" data-bs-toggle="modal" data-bs-target="#modalBootstrap" href="#"><span class="bx bx-plus"></span> User</a>

        <div class="modal" id="modalBootstrap" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Create New User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form action="#" method="post">
                <div class="modal-body">
                  <div class="row">
                    <div class="row form-group pb-3">
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="col-form-label" for="formGroupExampleInput">User Type <span style="color: red">*</span></label>
                          <select required data-plugin-selectTwo class="form-control populate placeholder" data-plugin-options='{ "placeholder": "Select a User Type", "allowClear": true }' name="user_type">
                            <option selected></option>
                            <option value="administrator">Administrator</option>
                            <option value="user">User</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="col-form-label" for="formGroupExampleInput">Full Name <span style="color: red">*</span></label>
                          <input required type="text" name="full_name" class="form-control" id="formGroupExampleInput" value="<%= "System User" %>" placeholder="Enter Full Name">
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="col-form-label" for="formGroupExampleInput">Email <span style="color: red">*</span></label>
                          <input required type="email" name="email" class="form-control" id="formGroupExampleInput" placeholder="Enter Email">
                        </div>
                      </div>
                    </div>
                    <div class="form-group row pb-3">
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="col-form-label" for="formGroupExampleInput">Password <span style="color: red">*</span></label>
                          <input required type="password" name="password" class="form-control" id="formGroupExampleInput" placeholder="Enter Password">
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="col-form-label" for="formGroupExampleInput">Re Enter Password <span style="color: red">*</span></label>
                          <input required type="password" name="re_password" class="form-control" id="formGroupExampleInput" placeholder="Enter Password Again">
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="col-form-label" for="formGroupExampleInput">Is Active? <span style="color: red">*</span></label><br>
                          <div class="switch switch-success">
                            <input required type="checkbox" name="is_active" data-plugin-ios-switch checked="checked" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Create</button>
                  <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- end: page -->